<div class="menu text-left">
  <div class="menu-tab px-2 py-4">
    <h5 class="pl-3"><img src="assets/images/tabs/about.svg" class="tab-icon mr-3">About</h5>
  </div>
  <div class="menu-tab px-2 py-4" routerLink="/matches">
    <h5 class="pl-3"><img src="assets/images/tabs/matches.svg" class="tab-icon mr-3">Matches</h5>
  </div>
  <div class="menu-tab px-2 py-4" routerLink="/groups">
    <h5 class="pl-3"><img src="assets/images/tabs/groups.svg" class="tab-icon mr-3">Groups</h5>
  </div>
  <div class="menu-tab px-2 py-4" routerLink="/teams">
    <h5 class="pl-3"><img src="assets/images/tabs/teams.svg" class="tab-icon mr-3">Teams</h5>
  </div>
</div>
