<div class="row menu mx-0 text-center">
  <div class="col-6 col-sm-3 menu-tab px-2 py-3">
    <h5 class="mb-0 pl-2 pl-sm-1 pl-md-3 d-flex align-items-center"><img src="assets/images/tabs/about.svg" class="tab-icon mr-2">About</h5>
  </div>
  <div class="col-6 col-sm-3 menu-tab px-2 py-3" routerLink="/games">
    <h5 class="mb-0 pl-2 pl-sm-1 pl-md-3 d-flex align-items-center"><img src="assets/images/tabs/matches.svg" class="tab-icon mr-2">Games</h5>
  </div>
  <div class="col-6 col-sm-3 menu-tab px-2 py-3" routerLink="/groups">
    <h5 class="mb-0 pl-2 pl-sm-1 pl-md-3 d-flex align-items-center"><img src="assets/images/tabs/groups.svg" class="tab-icon mr-2">Groups</h5>
  </div>
  <div class="col-6 col-sm-3 menu-tab px-2 py-3" routerLink="/teams">
    <h5 class="mb-0 pl-2 pl-sm-1 pl-md-3 d-flex align-items-center"><img src="assets/images/tabs/teams.svg" class="tab-icon mr-2">Teams</h5>
  </div>
</div>
